#playerForm {
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .playerName {
    width: 40%;
  }
  
  #playerFormButton {
    height: 40px;
  }
  
  .formFields {
    width: 50%;
  }
  